body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
}

.container {
  
    margin: 50PX auto;
    text-align: center;
    max-width: 800PX;
    
}

h1 {
    color: #333;
    display: flex; flex-direction: column;
}

p {
    color: #666;
}

.plans {
    display: flex;
    justify-content: center;
}

.plan {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 0 10px;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.plan h2 {
    color: #333;
}

.plan p {
    color: #666;
}

.plan button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.plan button:hover {
    background-color: #e65500;
}
div{
    display: flex; flex-direction: column;
}
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-float img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}